.InputfieldOembed{

}

.InputfieldOembed .InputfieldOembedPreview {
	margin-top: 20px;
}

.InputfieldOembed .InputfieldOembedPreview:before,
.InputfieldOembed .InputfieldOembedPreview:after {
   content: "";
   display: table;
}

.InputfieldOembed .InputfieldOembedPreview:after { clear: both; }

.InputfieldOembed .InputfieldOembedPreview > * {
	margin: 5px 0!important;
}

.AdminThemeUikit .InputfieldOembed .InputfieldOembedPreview > * {
	margin: 10px 0!important;
}

.InputfieldOembed .InputfieldOembedPreview img {
	float: left;
	width: 150px;
}

.InputfieldOembed .InputfieldOembedPreview img ~ * {
	padding-left: 180px;
}

.InputfieldOembed .InputfieldOembedPreview ul {
	list-style-position: inside;
}

.InputfieldOembed .InputfieldOembedPreview ul li {
	margin: 0;
}

